---
import GitHubIcon from "../assets/github.svg";

const name = "Skux4life";
const profileLink = "https://github.com/Skux4life";
const { author } = Astro.props;
if (author) {
  name = author;
  profileLink = `https://github.com/${author}`;
}
---

<a href={profileLink} target="_blank" class="flex items-center gap-2">
  <GitHubIcon />
  <span class="text-span pt-1">{name}</span>
</a>
