---
import FormattedDate from "./FormattedDate.astro";
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<article class="max-w-[65ch] mx-auto">
  <div>
    {heroImage && <img width={720} height={360} src={heroImage} alt="" />
    <!-- hero -->
  </div>
  <div>
    <h1>{title}</h1>
    <FormattedDate date={pubDate} />
      {updatedDate && (
      <div>Last updated on <FormattedDate date={updatedDate} /></div>
    )}
  </div>

  <slot />
</article>
