---
const { title, description, pubDate } = Astro.props;
---

<div class="bg-post rounded-xl p-8 leading-[160%]">
  <h2 class="text-title pb-8 text-2xl">{title}</h2>
  <p class="text-text">{description}</p>
</div>
