---
import NewWindowLink from "./NewWindowLink.astro";
import BackLink from "./BackLink.astro";
import FormattedDate from "./FormattedDate.astro";
import Author from "./Author.astro";
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<section class="mx-auto mb-8 w-[80vw] max-w-[1200px]">
  <div
    class="bg-profile flex flex-col gap-8 rounded-2xl px-8 py-8 shadow-lg shadow-black/20"
  >
    <div class="flex justify-between">
      <BackLink />
      <NewWindowLink linkText="Github Version" />
    </div>
    <h1 class="text-title text-2xl font-bold">{title}</h1>
    <div>
      <FormattedDate date={pubDate} />
      <Author />
    </div>
  </div>
</section>
