---
import Calendar from "../assets/calendar.svg";
interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<div class="flex items-center gap-2">
  <Calendar />
  <time class="text-span pt-1" datetime={date.toISOString()}>
    {
      date.toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </time>
</div>
