---
import { SITE_TITLE } from "../consts";
import bg from "../assets/images/header-bg.png";
import Logo from "../assets/terminal-logo.svg";
import { Image } from "astro:assets";
import Blurb from "./Blurb.astro";

const { useMainBlurb } = Astro.props;
---

<header class="relative flex w-screen flex-col">
  <Image src={bg} alt="bg" class="absolute -z-10 max-h-96 min-h-48 w-full" />
  <nav
    class="flex flex-col items-center justify-center gap-4 pt-12 pb-4 md:pt-14 lg:pt-16 xl:pt-20"
  >
    <a href="/"><Logo /></a>
    <h2 class="font-coda text-brand-blue text-xl text-balance">
      <a href="/">{SITE_TITLE.toUpperCase()}</a>
    </h2>
  </nav>
  {
    useMainBlurb && (
      <section class="mx-auto mb-8 w-[80vw] max-w-[1200px]">
        <Blurb />
      </section>
    )
  }
</header>
