---
import { SITE_TITLE } from "../consts";
---

<header
  class="w-[100vw] bg-[url(../assets/images/header-bg.png)] bg-[100%] bg-no-repeat"
>
  <nav class="py-20">
    <h2 class="font-coda text-brand-blue text-center">
      <a href="/">{SITE_TITLE}</a>
    </h2>
  </nav>
</header>
