---
import LinkIcon from "../assets/new_window.svg";
const { linkText, link } = Astro.props;
---

<a class="flex items-center gap-2" href={link} target="_blank"
  ><span class="text-brand-blue font-bold uppercase">{linkText}</span><LinkIcon
  /></a
>
