---

---

<div
  class="prose prose-h1:font-bold prose-h1:text-subtitle prose-h2:text-subtitle prose-h3:text-subtitle prose-h4:text-subtitle prose-h5:text-subtitle prose-h6:text-subtitle prose-a:text-brand-blue prose-code:text-other-blue prose-strong:text-span text-text mx-auto"
>
  <slot />
</div>
