---

---

<div
  class="prose prose-h1:font-bold prose-h1:text-title prose-h2:text-title prose-h3:text-title prose-h4:text-title prose-h5:text-title prose-h6:text-title text-text mx-auto"
>
  <slot />
</div>
